<h1 style="text-align:center;color:aqua;">ALL ARTICLES</h1>
<%= link_to 'CreateArticle', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
    
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
 
</table>
<%= link_to 'HomePage',root_path %>