<h1 style="text-align:center;color:aqua;">WELCOME TO BlogIt<br>Share ur thoughts,experiences</h1>
<%= link_to 'BlogIt-Articles', controller: 'articles' %>
<%= link_to 'CreateArticle', new_article_path %>
