<h1 style="text-align:center;color:aqua;">BlogIt<p>
   -------- Welcome To A Safe Space------<br>------Share your thoughts and experiences-----</h1>
<p style="text-align:center;">
    <%= link_to 'CreateArticle', new_article_path %><br>
    <%= link_to 'BlogIt-Articles', controller: 'articles' %>
    </p>
